.App {
  text-align: center;
  height: 100vh;
  width: auto;
}

body {
  margin: 0;
  padding: 0;
  background-color: black;
}

.frame {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  height: 100%;
  background-color: transparent;
  z-index: 9999;
}

.title{
  display: inline-block;
  background-color: black;
  border-radius: 50px;
}

.recipe-box{
  display: inline-block;
  background-color: white;
  border-radius: 10px;
  padding: 10px;
  margin: 30px;
}

.title > p {
  font-size: x-large;
  color: white;
  font-family: Algerian, serif;
}

.recipe-img{
  width: 50%;
  border-radius: 10px;
}


.dashboard{
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}

.text-box {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  overflow: hidden;
  resize: none;
}

.language-line{
  display: inline-flex;
}

.betterBt {
  border-radius: 20px;
  background-color: orange;
  font-size: x-large;
  cursor: pointer;
  border: none;
  transition: background-color 0.3s ease; /* Add a transition for smooth background color change */
  padding: 5px 10px 5px 10px;
  margin: 10px;
}

.betterBt:hover,
.betterBt:focus {
  transform: scale(1.1); /* Enlarge on hover */
  background-color: red; /* Change background color on hover */
  transition: transform 0.1s ease, background-color 0.5s ease; /* Add transition for both transform and background color during click */

}

.betterBt:active {
  transform: scale(0.9); /* Shrink on click */
}

.time-now{
  display: inline-block;
  background-color: black;
  color: white;
  text-align: center;
  font-size: large;
  border-radius: 30px;
  padding: 20px;
}











